@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

.buttonHeader{
    border: none;
    font-size: 35px;
    width: 25%;
    height: 70px;
    font-family: 'Lilita One', cursive;
    color: honeydew;
    background: #00008b;
}

.buttonHeader:hover{
    cursor: pointer;
    color: #00008b;
    background: honeydew;
    font-size: 37px;
    border: solid 0.3px;
}