@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

.containerPrincipal{
    display: flex;
    flex-direction: column;
    background:#cdc4c9;
    background-size: 100%;

}
