@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

.cadastro{
    display: flex;
    flex-direction: column;
    background:#cdc4c9;
    height:669px;
}

.formCadastro{
    background: white;
    position: fixed;
    top: 40%;
    right: 25%;
    border: solid;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.labelCadastro{
    margin: 1%;
    font-family: 'Lilita One', cursive;
    font-size: 30px;
}